:root {
    /*colors*/
    --btn2-bg: #2D8CFF;
    --btn1-bg: #1D90F5;
    --section-bg: #EDF0F2;
    --a-color: #878ba5;
    --a-color-hover: #1D90F5;
    --heading-color-1: #131827;
    --heading-color-2: #ffff;
    --p-color: #4b5563;
    --btn-a-color:white;
    /*typography*/
    --p-font-size: 16px;
    --p-line-height: 28px;
    --a-font-size: 14px;
    --btn-a-font-size: 18px;
    --a-line-height: /* add your value here */;
    --heading-1-font-size: 55px;
    --btn-padding: 10px 0px;
    --btn-border-radius:5px;
    /*shadow*/
    --shadow: 0 5px 10px black;
  }
  @font-face {
    font-family: 'Satoshi-Variable', sans-serif;
    src: 
         url('font/Variable/Satoshi-Variable.ttf'),
         url('font/Variable/Satoshi-VariableItalic.ttf') ,
         url('font/Satoshi-Variable.ttf') ;
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  html,body{
      font-family: 'Satoshi-Variable', serif;
    
      
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    color:rgb(11,110,115);
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: ;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
 
  button {
    cursor: pointer;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
 
  
  